---
import DetailLayout from "../../layout/DetailLayout.astro";
import Header from "../../components/Header.astro";
import { data } from "../../data/data.js";

export function getStaticPaths() {
    return data.glossaryItems.map((item) => ({
        params: { item: item.slug },
        props: { item },
    }));
}

const { item } = Astro.props;
---

<DetailLayout title={item.title} slug={item.slug} item={item}>
    <Header variant="two" title={item.title} slug={item.slug} />

    <main class="page page-detail">
        {
            item.content?.map((section) => (
                <section class="content-section">
                    {/* ===================================== */}
                    {/* MARK: header                          */}
                    {/* ===================================== */}
                    {/* Full-width heading block for sections with a heading */}
                    {section.heading && (
                        <div class={`block block-header ${section.type === "media-left" ? "block-header-right" : ""}`}>
                            <h2>{section.heading}</h2>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: media-left / media-right        */}
                    {/* ===================================== */}
                    {(section.type === "media-left" || section.type === "media-right") && (
                        <div class={`row ${section.type === "media-left" ? "row-reversed" : ""}`}>
                            <div class="row-text-side">
                                <div class="block block-text-large">
                                    {section.intro?.map((block) =>
                                        block.type === "quote" ? (
                                            <blockquote set:html={block.text} />
                                        ) : block.type === "text" ? (
                                            <p set:html={block.text} />
                                        ) : null
                                    )}
                                    
                                    {section.author && (
                                        <p class="block-author">{section.author}</p>
                                    )}

                                </div>
                                <div class="block block-text-small">
                                    {section.subtext?.type === "link" && (
                                        <div>
                                            <a href={section.subtext.text} class="hover-underline">Go to source</a>
                                        </div>
                                    )}
                                    {section.subtext?.type === "source" && (
                                        <cite>{section.subtext.text}</cite>
                                    )}
                                </div>
                            </div>
                            <div class="block block-image">
                                {section.media?.map((media) => (
                                    <>
                                        {media.type === "image" && (
                                            <img src={media.src} alt={media.alt} />
                                        )}
                                        {media.type === "video" && (
                                            <video src={media.src} aria-label={media.alt} controls>
                                                <source src={media.src} />
                                            </video>
                                        )}
                                    </>
                                ))}
                            </div>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: media-full                      */}
                    {/* ===================================== */}
                    {section.type === "media-full" && (
                        <div class="row row-full">
                            <div class="block block-image block-image-full">
                                {section.media?.map((media) => (
                                    <>
                                        {media.type === "image" && (
                                            <img src={media.src} alt={media.alt} />
                                        )}
                                        {media.type === "video" && (
                                            <video src={media.src} aria-label={media.alt} controls>
                                                <source src={media.src} />
                                            </video>
                                        )}
                                    </>
                                ))}
                            </div>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: text-full                       */}
                    {/* ===================================== */}
                    {section.type === "text-full" && (
                        <div class="row row-full">
                            <div class="block block-text-large block-text-full">
                                {section.intro?.map((block) =>
                                        block.type === "quote" ? (
                                            <blockquote set:html={block.text} />
                                        ) : block.type === "text" ? (
                                            <p set:html={block.text} />
                                        ) : null
                                    )}
                                {section.subtext?.type === "source" && (
                                    <cite class="block-cite">{section.subtext.text}</cite>
                                )}
                                {section.subtext?.type === "link" && (
                                    <p class="block-cite">
                                        <a href={section.subtext.text} class="hover-underline">Go to source</a>
                                    </p>
                                )}
                            </div>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: media-top                       */}
                    {/* ===================================== */}
                    {section.type === "media-top" && (
                        <div class="row row-stacked">
                            <div class="block block-image block-image-full">
                                {section.media?.map((media) => (
                                    <>
                                        {media.type === "image" && (
                                            <img src={media.src} alt={media.alt} />
                                        )}
                                        {media.type === "video" && (
                                            <video src={media.src} aria-label={media.alt} controls>
                                                <source src={media.src} />
                                            </video>
                                        )}
                                    </>
                                ))}
                            </div>
                            <div class="block block-text-large block-text-full">
                                {section.intro?.map((block) =>
                                        block.type === "quote" ? (
                                            <blockquote set:html={block.text} />
                                        ) : block.type === "text" ? (
                                            <p set:html={block.text} />
                                        ) : null
                                    )}
                                {section.subtext?.type === "source" && (
                                    <cite class="block-cite">{section.subtext.text}</cite>
                                )}
                                {section.subtext?.type === "link" && (
                                    <p class="block-cite">
                                        <a href={section.subtext.text} class="hover-underline">Go to source</a>
                                    </p>
                                )}
                            </div>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: media-bottom                    */}
                    {/* ===================================== */}
                    {section.type === "media-bottom" && (
                        <div class="row row-stacked">
                            <div class="block block-text-large block-text-full">
                                {section.intro?.map((block) =>
                                        block.type === "quote" ? (
                                            <blockquote set:html={block.text} />
                                        ) : block.type === "text" ? (
                                            <p set:html={block.text} />
                                        ) : null
                                    )}
                                {section.subtext?.type === "source" && (
                                    <cite class="block-cite">{section.subtext.text}</cite>
                                )}
                                {section.subtext?.type === "link" && (
                                    <p class="block-cite">
                                        <a href={section.subtext.text} class="hover-underline">Go to source</a>
                                    </p>
                                )}
                            </div>
                            <div class="block block-image block-image-full">
                                {section.media?.map((media) => (
                                    <>
                                        {media.type === "image" && (
                                            <img src={media.src} alt={media.alt} />
                                        )}
                                        {media.type === "video" && (
                                            <video src={media.src} aria-label={media.alt} controls>
                                                <source src={media.src} />
                                            </video>
                                        )}
                                    </>
                                ))}
                            </div>
                        </div>
                    )}

                    {/* ===================================== */}
                    {/* MARK: text-columns                    */}
                    {/* ===================================== */}
                    {section.type === "text-columns" && (
                        <div class="row row-text-columns">
                            <div class="block block-text-large">
                                {section.intro?.map((block) =>
                                        block.type === "quote" ? (
                                            <blockquote set:html={block.text} />
                                        ) : block.type === "text" ? (
                                            <p set:html={block.text} />
                                        ) : null
                                    )}
                            </div>
                            <div class="block block-text-large">
                                {section.subtext?.type === "source" && (
                                    <p>{section.subtext.text}</p>
                                )}
                                {section.subtext?.type === "link" && (
                                    <p>
                                        <a href={section.subtext.text} class="hover-underline">Go to source</a>
                                    </p>
                                )}
                                {section.subtext?.type === "text" && (
                                    <p set:html={section.subtext.text} />
                                )}
                            </div>
                        </div>
                    )}
                </section>
            ))
        }
    </main>

    <script src="/js/index.js" is:inline></script>

    <script>
        // @ts-nocheck
        // =====================================
        // MARK: Scroll Animations
        // =====================================

        // ---------- Variables ----------
        const observerOptions = {
            root: null,
            rootMargin: "0px 0px -50px 0px",
            threshold: 0.1,
        };

        // ---------- Setup & Initialization ----------
        const initScrollAnimations = () => {
            const blocks = document.querySelectorAll(".page .block");
            const observer = new IntersectionObserver(
                handleIntersection,
                observerOptions,
            );

            blocks.forEach((block) => {
                block.classList.add("animate-on-scroll");
                observer.observe(block);
            });
        };

        document.addEventListener("DOMContentLoaded", initScrollAnimations);

        // ---------- Functions ----------
        const handleIntersection = (entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("is-visible");
                    observer.unobserve(entry.target);
                }
            });
        };
    </script>
</DetailLayout>