---
import DetailLayout from "../../layout/DetailLayout.astro"
import Header from "../../components/Header.astro";
import { data } from "../../data/data.js";

export function getStaticPaths() {
    return data.glossaryItems.map(item => ({
        params: { item: item.slug },
        props: { item }
    }));
}

const { item } = Astro.props;
---


<DetailLayout title={item.title} slug={item.slug}>
    <Header variant="two" title={item.title} slug={item.slug}/>

    <main>
        {item.content?.map(section => (
            <section class={section.type}>
                <div set:html={section.intro}></div>
                <h2>{section.title}</h2>
                {section.media.map(media => (
                    <img src={media.src} alt={media.alt} />
                ))}
            </section>
        ))}
    </main>

<script src="/js/index.js" is:inline></script>
</DetailLayout>


